ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

input,
button {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

p {
  margin: 0px;
}

body {
  margin: 0px;
}
